h1 {
	 text-align : center;
}

body {
	margin: 0px;
}

.button {
	background-color: #4d4d4d;
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.button:hover {
	background-color: #0099ff;
}

label input{
	margin: 2px;
}
.formMin{
	width: 80px;
}

#menu_outer {
	background-color: #4d4d4d;
}

.menu_inner {
	display: table;
	margin: 0 auto;
}

#footer_bar {
	background: #4d4d4d;
	position: absolute;
	width: 100%;
	bottom: 0;
}

#footer_paragraph {
	color: white;
	padding-right: 10px;
}

#gallery_wrapper {
	padding:10px;
	display: table;
	margin: 0 auto;
}

form{
	width: 400px;
	display: block;
	margin:0 auto;
}

input{
	margin: 2px;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
}

label{
	display: inline-block;
}

input[type=submit] {
	background-color: #0000cc;
	color: #ffffff;
	border-radius: 10px;
	cursor: pointer;
	width: 50%;
	position: relative;
	left: 25%;
	border-style: solid;
}

input[type=submit]:hover {
	background-color: #0099ff;
}

input[type=deleteImage] {
	background-color: #0000cc;
	color: #ffffff;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	border-style: solid;
}

input[type=deleteImage]:hover {
	background-color: #0099ff;
}

.imageDiv{
	width: 200px;
	text-align: justify;
	display: inline-block;
	padding: 0px;
}

.imageDiv img{
	width: 150px;
	height: 150px;
	padding: 0px;

}

div {
	text-align: justify;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d4d4d;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #0099ff on hover */
li a:hover {
    background-color: #0099ff;
}

.active {
    background-color: #0099ff;
}

/* CSS for table*/
.UserTabel {
	margin:0px;padding:0px;
	border-top-left-radius:0px;
}.UserTabel table{
    border-collapse: collapse;
	width: 400px;
	display: block;
	margin:0 auto;
}
.UserTabel tr:nth-child(odd){ background-color:#d4e8fc; }
.UserTabel tr:nth-child(even)    { background-color:#ffffff; }

.UserTabel td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:1px 1px 1px 1px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.UserTabel tr:first-child td{
	background-color:#005fbf;
	border:1px solid #000000;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:#ffffff;
}
.UserTabel td:last-child {
	text-align:center;
}
